/* regular vc elements*/
li[data-element="vc_widget_sidebar"] { display: none !important; }
li[data-element="vc_wp_search"] { display: none !important; }
li[data-element="vc_wp_meta"] { display: none !important; }
li[data-element="vc_wp_recentcomments"] { display: none !important; }
li[data-element="vc_wp_calendar"] { display: none !important; }
li[data-element="vc_wp_pages"] { display: none !important; }
li[data-element="vc_wp_tagcloud"] { display: none !important; }
li[data-element="vc_wp_custommenu"] { display: none !important; }
li[data-element="vc_wp_text"] { display: none !important; }
li[data-element="vc_wp_posts"] { display: none !important; }
li[data-element="vc_wp_links"] { display: none !important; }
li[data-element="vc_wp_categories"] { display: none !important; }
li[data-element="vc_wp_archives"] { display: none !important; }
li[data-element="vc_wp_rss"] { display: none !important; }
li[data-element="vc_teaser_grid"] { display: none !important; }
li[data-element="vc_cta_button"] { display: none !important; }
li[data-element="vc_message"] { display: none !important; }
li[data-element="vc_progress_bar"] { display: none !important; }
li[data-element="vc_pie"] { display: none !important; }
li[data-element="vc_posts_slider"] { display: none !important; }
li[data-element="vc_posts_grid"] { display: none !important; }
li[data-element="vc_images_carousel"] { display: none !important; }
li[data-element="vc_carousel"] { display: none !important; }
li[data-element="vc_gallery"] { display: none !important; }
li[data-element="vc_single_image"] { display: none !important; }
li[data-element="vc_facebook"] { display: none !important; }
li[data-element="vc_tweetmeme"] { display: none !important; }
li[data-element="vc_googleplus"] { display: none !important; }
li[data-element="vc_pinterest"] { display: none !important; }
li[data-element="vc_single_image"] { display: none !important; }
li[data-element="vc_cta_button2"] { display: none !important; }
li[data-element="vc_gmaps"] { display: none !important; }
li[data-element="vc_raw_html"] { display: none !important; }
li[data-element="vc_raw_js"] { display: none !important; }
li[data-element="vc_flickr"] { display: none !important; }
li[data-element="vc_empty_space"] { display: none !important; }
li[data-element="vc_custom_heading"] { display: none !important; }
li[data-element="vc_toggle"] { display: none !important; }
li[data-element="vc_cta"] { display: none !important; }
li[data-element="vc_btn"] { display: none !important; }
li[data-element="vc_column_text"] { display: none !important; }
/** Woo Commerce */
li[data-element="product"] { display: none !important; }
/** VC added in 5.2 */
li[data-element="vc_zigzag"] { display: none !important; }
li[data-element="vc_hoverbox"] { display: none !important; }
/** 3rd party */
li[data-element="contact-form-7"] { display: none !important; }
/* new with v 5.0 */
li[data-element="vc_section"] { display: none !important; }
/* tta */
li[data-element="vc_tta_tabs"] { display: none !important; }
li[data-element="vc_tta_tour"] { display: none !important; }
li[data-element="vc_tta_tabs"] { display: none !important; }
li[data-element="vc_tta_pageable"] { display: none !important; }
li[data-element="vc_tta_accordion"] { display: none !important; }
li[data-element="vc_tta_section"] { display: none !important; }
li[data-element="vc_text_separator"] { display: none !important; }
li[data-element="vc_separator"] { display: none !important; }
li[data-element="vc_round_chart"] { display: none !important; }
li[data-element="vc_line_chart"] { display: none !important; }
li[data-element="vc_basic_grid"] { display: none !important; }
li[data-element="vc_media_grid"] { display: none !important; }
li[data-element="vc_masonry_grid"] { display: none !important; }
li[data-element="vc_masonry_media_grid"] { display: none !important; }
li[data-element="vc_video"] { display: none !important; }
li[data-element="vc_icon"] { display: none !important; }
/* deprecated */
li[data-element="vc_tabs"] { display: none !important; }
li[data-element="vc_tour"] { display: none !important; }
li[data-element="vc_accordion"] { display: none !important; }
li[data-element="vc_button"] { display: none !important; }
li[data-element="vc_button2"] { display: none !important; }