/**
 * ThemeMountain Visual Composer CSS Skin
 */
.wpb_vc_row .tm_indicator_icon.icon {
  float: right;
}
.wpb_vc_row .tm_indicator_icon.icon:hover {
  background-color: transparent !important;
}
i.icon.small {
  font-size: 16px;
}
.wpb_el_type_tab_id {
  display: none;
}
.wpb-layout-element-button a#tm_textblock .vc_element-description,
.wpb-layout-element-button a#vc_raw_html .vc_element-description {
  display: none;
}
.vc_helper {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #444444;
  border-radius: 0;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}
.vc_helper .vc_element-icon {
  margin-top: 5px;
  width: 26px;
  height: 26px;
}
.vc_row-hash-id {
  margin-top: 15px;
  font-weight: bold;
}
.vc_placeholder {
  margin: 0;
}
.wpb_vc_row_inner.wpb_sortable {
  margin-bottom: 0;
}
.wpb_vc_row .vc_controls-row {
  margin-bottom: -1px;
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #dddddd;
}
.wpb_vc_row .vc_controls-row .vc_control,
.wpb_vc_row .vc_controls-row .vc_controls > .column_move {
  padding: 12px;
  margin: 0;
  background-color: transparent;
  border: none;
  border-radius: 0;
}
.wpb_vc_row .vc_controls-row .vc_control br,
.wpb_vc_row .vc_controls-row .vc_controls > .column_move br {
  display: none;
}
.wpb_vc_row .vc_controls-row .vc_control .vc-c-icon-dragndrop,
.wpb_vc_row .vc_controls-row .vc_controls > .column_move .vc-c-icon-dragndrop {
  display: inline-block;
  margin-top: 2px;
}
.wpb_vc_row .vc_controls-row .vc_row_layouts {
  height: 42px;
  padding: 0;
  background-color: #ffffff;
}
.wpb_vc_row .vc_controls-row .vc_row_layouts:hover {
  height: auto;
}
.wpb_vc_row .vc_controls-row .vc_row_layouts .vc_control-set-column.custom_columns {
  margin-left: 4px;
}
.wpb_vc_row .vc_controls-row .vc_control-set-column {
  width: 42px;
  height: 42px;
  margin-right: -5px;
}
.wpb_vc_row .vc_controls-row .vc_control-set-column .vc-composer-icon {
  left: 50%;
}
.wpb_vc_row .vc_controls-row .vc_control-set-column.custom_columns {
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  line-height: 40px;
  vertical-align: top;
}
.wpb_vc_row .wpb_row_container > .wpb_vc_column > .wpb_element_wrapper {
  padding: 0 14px;
}
.wpb_vc_row .wpb_row_container .wpb_vc_column .vc_control-column {
  height: 40px;
  padding: 0 2px;
}
.wpb_vc_row .wpb_row_container .wpb_vc_column .vc_control-column .vc_control {
  padding: 11px;
  border-radius: 0;
  border: none;
}
.wpb_vc_row .wpb_row_container .wpb_vc_column .vc_control-column .vc_control:hover {
  background-color: #dddddd;
}
.wpb_vc_row .wpb_row_container .wpb_vc_column .vc_control-column .vc_control:hover .vc_icon {
  opacity: 1;
}
.wpb_vc_row .wpb_row_container .vc_control-column,
.wpb_vc_row .wpb_row_container .vc_control-column + .wpb_element_wrapper {
  border-style: solid;
  border-color: #dddddd;
  border-width: 0 1px;
}
.wpb_vc_row .wpb_row_container .vc_control-column:first-child {
  border-top: 1px solid #dddddd;
}
.wpb_vc_row .wpb_row_container .vc_control-column:last-child {
  border-bottom: 1px solid #dddddd;
  display: block !important;
}
.wpb_vc_row .wpb_row_container .wpb_vc_column_inner {
  margin-bottom: 5px;
}
.wpb_vc_row .wpb_row_container .wpb_vc_column_inner > .vc_controls,
.wpb_vc_row .wpb_row_container .wpb_vc_column_inner > .wpb_element_wrapper {
  background-color: transparent;
}
.wpb_vc_row .wpb_row_container .wpb_tabs_holder .vc_control-column,
.wpb_vc_row .wpb_row_container .ui-accordion .vc_control-column {
  border: none;
}
.wpb_vc_row .wpb_row_container .wpb_tabs_holder .vc_control-column .vc_control,
.wpb_vc_row .wpb_row_container .ui-accordion .vc_control-column .vc_control {
  padding-left: 0;
}
.wpb_vc_row .wpb_row_container .wpb_tabs_holder .vc_control-column .vc_control:hover,
.wpb_vc_row .wpb_row_container .ui-accordion .vc_control-column .vc_control:hover {
  background-color: transparent;
  opacity: 0.5;
}
.wpb_vc_row .vc_controls .vc_controls-out-tc {
  background-color: #666666;
  border-color: #666666;
  text-align: center;
  border-radius: 0;
  position: relative;
  top: 0 !important;
}
.wpb_vc_row .vc_controls .vc_controls-out-tc .vc_btn-content {
  padding: 12px;
  border-radius: 0;
}
.wpb_vc_row .vc_controls .vc_controls-out-tc .vc_btn-content:hover {
  background-color: #444444;
}
.wpb_vc_row .vc_controls .vc_controls-tc {
  background-color: #666666;
  border-color: #666666;
  text-align: center;
  border-radius: 0;
  position: relative;
  top: 0 !important;
}
.wpb_vc_row .vc_controls .vc_controls-tc .vc_btn-content {
  padding: 12px;
  border-radius: 0;
}
.wpb_vc_row .vc_controls .vc_controls-tc .vc_btn-content:hover {
  background-color: #444444;
}
.wpb_vc_row .vc_controls .vc_controls-out-tc .vc_element-name .vc_btn-content,
.wpb_vc_row .vc_controls .vc_controls-tc .vc_element-name .vc_btn-content {
  padding: 12px 12px 12px 24px !important;
  border-radius: 0;
  background-position: 6px center!important;
}
.wpb_vc_row .vc_controls .vc_controls-cc {
  background-color: #32373c;
  border-color: #32373c;
  border-radius: 0;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}
.wpb_vc_row .vc_controls .vc_controls-cc .vc_btn-content {
  border-radius: 0;
}
.wpb_vc_row .vc_controls .vc_controls-cc .vc_btn-content:hover {
  background-color: #0073aa;
}
.wpb_vc_row .wpb_content_element .wpb_element_wrapper {
  min-height: 25px;
}
.vc_ui-panel-window-inner .vc_ui-panel-header-container {
  background: #32373c;
}
.vc_add-element-container ul.wpb-content-layouts li {
  height: 160px;
  padding: 0;
  margin: 0 -1px -1px 0;
  background: #fff;
  border: 1px solid #f5f5f5;
}
.vc_add-element-container ul.wpb-content-layouts li .vc_el-container {
  height: 100%;
}
.vc_add-element-container ul.wpb-content-layouts li:hover {
  border-color: #f5f5f5 !important;
  border: 1px solid transparent;
}
.vc_add-element-container ul.wpb-content-layouts a {
  padding: 30px 20px;
  text-align: center;
  color: #777;
}
.vc_add-element-container ul.wpb-content-layouts a:hover {
  background: #f5f5f5;
}
.vc_add-element-container ul.wpb-content-layouts .vc_element-icon {
  margin: 0 auto 15px auto;
  background-size: 100%;
  position: relative;
  top: auto;
  left: auto;
}
.vc_element-icon,
.vc_general.vc_element-icon {
  background-size: 100%;
}
.wpb_content_element .ui-state-default .ui-icon {
  background-image: url(../images/controls.png);
}
.wpb_content_element .wpb_element_title {
  padding-top: 5px !important;
}
.wpb_content_element .wpb_element_title .vc_element-icon {
  width: 28px;
  height: 28px;
  margin-top: -3px !important;
  margin-right: 10px;
  float: left;
}
.wpb_content_element .wpb_element_wrapper {
  border-radius: 0;
}
.wpb_content_element .wpb_element_wrapper .ui-accordion-header,
.wpb_content_element .wpb_element_wrapper .ui-tabs .ui-tabs-nav li {
  border-radius: 0;
}
.wpb_content_element:hover > div.vc_controls {
  right: 0;
}
.wpb_content_element .ui-tabs .ui-tabs-panel {
  background-color: #fff;
}
.wpb_content_element .ui-tabs .ui-tabs-panel.wpb_tm_tab_item {
  background-color: #FFF;
}
.wpb_content_element .ui-tabs .ui-tabs-panel.wpb_tm_tab_item > .bottom-controls {
  top: auto;
  display: none;
}
.wpb_content_element .ui-tabs .ui-tabs-panel.wpb_tm_tab_item > .vc_controls {
  height: 35px;
  background: 0 0;
  position: relative;
}
.wpb_content_element .ui-tabs .ui-tabs-panel.wpb_tm_tab_item .wpb_element_wrapper > .wpb_column_container.empty_container {
  height: 80px;
  background-position: center center;
}
.wpb_content_element .ui-tabs .ui-tabs-panel.wpb_tm_tab_item .wpb_element_wrapper > .wpb_column_container .wpb_vc_column_inner > .wpb_element_wrapper {
  background-color: #F5F5F5;
  padding: 14px;
}
.wpb_content_element .wpb_tm_tab_holder .vc_controls,
.wpb_content_element .wpb_tm_accordion_tab_item .vc_controls,
.wpb_content_element .wpb_content_holder:not(.wpb_tm_slider_item):not(.wpb_tm_fullscreen_presentation_item) .vc_controls {
  position: relative;
  height: 40px;
  margin: 0;
  border-bottom-width: 0;
}
.wpb_content_element .wpb_tm_tab_holder > .wpb_element_wrapper,
.wpb_content_element .wpb_tm_accordion_tab_item > .wpb_element_wrapper,
.wpb_content_element .wpb_content_holder:not(.wpb_tm_slider_item):not(.wpb_tm_fullscreen_presentation_item) > .wpb_element_wrapper {
  padding: 0;
  background: 0 0;
  border: none !important;
  height: auto;
}
.wpb_content_element .wpb_tm_tab_holder > .wpb_element_wrapper .ui-tabs .ui-tabs-nav,
.wpb_content_element .wpb_tm_accordion_tab_item > .wpb_element_wrapper .ui-tabs .ui-tabs-nav,
.wpb_content_element .wpb_content_holder:not(.wpb_tm_slider_item):not(.wpb_tm_fullscreen_presentation_item) > .wpb_element_wrapper .ui-tabs .ui-tabs-nav {
  position: relative;
  top: 1px;
  z-index: 2;
  border-right: 1px dotted #e6e6e6;
}
.wpb_content_element .wpb_tm_tab_holder > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li,
.wpb_content_element .wpb_tm_accordion_tab_item > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li,
.wpb_content_element .wpb_content_holder:not(.wpb_tm_slider_item):not(.wpb_tm_fullscreen_presentation_item) > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li {
  top: -1px;
  background: #e6e6e6;
  border: 1px solid transparent;
  margin-right: 3px;
  padding: 0;
}
.wpb_content_element .wpb_tm_tab_holder > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li a,
.wpb_content_element .wpb_tm_accordion_tab_item > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li a,
.wpb_content_element .wpb_content_holder:not(.wpb_tm_slider_item):not(.wpb_tm_fullscreen_presentation_item) > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li a {
  color: #848c91;
  padding: 10px 16px;
}
.wpb_content_element .wpb_tm_tab_holder > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li.add_tab_block,
.wpb_content_element .wpb_tm_accordion_tab_item > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li.add_tab_block,
.wpb_content_element .wpb_content_holder:not(.wpb_tm_slider_item):not(.wpb_tm_fullscreen_presentation_item) > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li.add_tab_block {
  padding: 11px;
}
.wpb_content_element .wpb_tm_tab_holder > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li.add_tab_block a,
.wpb_content_element .wpb_tm_accordion_tab_item > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li.add_tab_block a,
.wpb_content_element .wpb_content_holder:not(.wpb_tm_slider_item):not(.wpb_tm_fullscreen_presentation_item) > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li.add_tab_block a {
  padding: 0;
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url(../images/controls.png) -16px -16px no-repeat;
}
.wpb_content_element .wpb_tm_tab_holder > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li.ui-tabs-active,
.wpb_content_element .wpb_tm_accordion_tab_item > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li.ui-tabs-active,
.wpb_content_element .wpb_content_holder:not(.wpb_tm_slider_item):not(.wpb_tm_fullscreen_presentation_item) > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li.ui-tabs-active {
  background: #ffffff;
}
.wpb_content_element.tm_element_vertical_tab_holder {
  overflow: hidden;
}
.wpb_content_element.tm_element_vertical_tab_holder > .wpb_element_wrapper .ui-tabs .ui-tabs-nav {
  position: relative;
  left: 0;
  z-index: 2;
  float: left;
  width: 30%;
}
.wpb_content_element.tm_element_vertical_tab_holder > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li {
  float: none;
  background: #e6e6e6;
  border: 1px solid transparent;
  padding: 0;
  margin: 0 !important;
  box-sizing: border-box;
}
.wpb_content_element.tm_element_vertical_tab_holder > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li a {
  float: none;
  display: block;
  color: #848c91;
  padding: 10px 16px;
  margin: 0 0 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wpb_content_element.tm_element_vertical_tab_holder > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li.add_tab_block {
  padding: 11px;
}
.wpb_content_element.tm_element_vertical_tab_holder > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li.add_tab_block a {
  padding: 0;
  width: 100%;
  height: 16px;
  display: block;
  background: transparent url('../images/controls.png') no-repeat -16px -16px;
}
.wpb_content_element.tm_element_vertical_tab_holder > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li.ui-tabs-active {
  background: #ffffff;
}
.wpb_content_element.tm_element_vertical_tab_holder > .wpb_element_wrapper .ui-tabs .ui-tabs-panel,
.wpb_content_element.tm_element_vertical_tab_holder > .wpb_element_wrapper .ui-tabs .wpb_tm_fullscreen_presentation_item {
  box-sizing: border-box;
  float: right;
  width: 70%;
}
.wpb_content_element.tm_element_vertical_tab_holder > .wpb_element_wrapper .ui-tabs .ui-tabs-panel > .vc_controls,
.wpb_content_element.tm_element_vertical_tab_holder > .wpb_element_wrapper .ui-tabs .wpb_tm_fullscreen_presentation_item > .vc_controls {
  height: 40px;
  opacity: 1;
  visibility: visible;
  position: relative;
}
.wpb_content_element.wpb_tm_accordion_holder .wpb_element_wrapper .tab_controls {
  background: #ffffff;
}
.wpb_content_element.wpb_tm_accordion_holder .wpb_element_wrapper .tab_controls .add_tab {
  opacity: 0.7;
  cursor: pointer;
  color: #b0b4b8;
  padding: 16px;
  position: relative;
  width: 100%;
  height: 16px;
  display: block;
}
.wpb_content_element.wpb_tm_accordion_holder .wpb_element_wrapper .tab_controls .add_tab .vc_icon {
  background-position: -16px -16px;
  position: absolute;
  left: 19px;
  top: 18px;
}
.wpb_content_element.wpb_tm_accordion_holder .wpb_element_wrapper .tab_controls .add_tab .tab-label {
  margin-left: 23px;
  font-size: 14px;
}
.wpb_content_element.wpb_tm_accordion_holder .wpb_element_wrapper .ui-accordion-header {
  padding: 16px;
  background: #ffffff;
  margin-bottom: 3px;
}
.wpb_content_element.wpb_tm_accordion_holder .wpb_element_wrapper .ui-accordion-header .tab-label {
  margin-left: 23px;
  font-size: 14px;
}
.wpb_content_element.wpb_tm_accordion_holder .wpb_element_wrapper .ui-accordion-header.ui-state-active {
  background: #FFFFFF;
  border: 1px solid transparent;
  margin-bottom: 0;
}
.wpb_content_element.wpb_tm_accordion_holder .wpb_element_wrapper .ui-accordion-header.ui-state-active .ui-icon {
  background-position: -16px -128px;
}
.wpb_content_element.wpb_tm_accordion_holder .wpb_element_wrapper .ui-accordion-header.ui-state-active .tab-label {
  color: #6f777d;
}
.wpb_content_element .wpb_tm_accordion_tab_item {
  display: none;
  background-color: #ffffff;
  padding: 6px 14px 14px;
}
.wpb_content_element .wpb_tm_accordion_tab_item.ui-accordion-content {
  overflow: visible;
  margin-bottom: 3px;
}
.wpb_content_element .wpb_tm_accordion_tab_item > .vc_controls {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
  visibility: visible;
  height: 40px;
  background: transparent;
}
.wpb_content_element .wpb_tm_accordion_tab_item > .bottom-controls {
  top: auto;
  display: none;
}
.wpb_content_element .wpb_tm_accordion_tab_item .wpb_element_wrapper > .wpb_column_container.empty_container {
  height: 80px;
  background-position: center center;
}
.wpb_content_element .wpb_tm_accordion_tab_item .wpb_element_wrapper > .wpb_column_container .wpb_vc_column_inner > .controls {
  background-color: #f5f5f5;
}
.wpb_content_element .wpb_tm_accordion_tab_item .wpb_element_wrapper > .wpb_column_container .wpb_vc_column_inner > .wpb_element_wrapper {
  background-color: #f5f5f5;
  padding: 14px;
}
.wpb_content_element .wpb_tm_accordion_tab_item .wpb_element_wrapper > .wpb_column_container .wpb_vc_row_inner > .controls > .column_move {
  background-color: #f5f5f5;
}
.wpb_content_element.tm_element_vertical_tab_holder > .vc_controls,
.wpb_content_element.tm_element_tab_holder > .vc_controls,
.wpb_content_element .wpb_tm_slider_item > .vc_controls {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
  visibility: visible;
  position: relative;
  height: 40px;
  margin: 0;
  border: none;
  border-bottom-width: 0;
}
.wpb_content_element.tm_element_vertical_tab_holder > .wpb_element_wrapper,
.wpb_content_element.tm_element_tab_holder > .wpb_element_wrapper,
.wpb_content_element .wpb_tm_slider_item > .wpb_element_wrapper {
  padding: 14px;
  background: #f5f5f5;
  border: 1px solid #dddddd;
  height: auto;
}
.wpb_content_element.tm_element_vertical_tab_holder > .wpb_element_wrapper .wpb_tabs_holder,
.wpb_content_element.tm_element_tab_holder > .wpb_element_wrapper .wpb_tabs_holder,
.wpb_content_element .wpb_tm_slider_item > .wpb_element_wrapper .wpb_tabs_holder,
.wpb_content_element.tm_element_vertical_tab_holder > .wpb_element_wrapper .tabs_controls,
.wpb_content_element.tm_element_tab_holder > .wpb_element_wrapper .tabs_controls,
.wpb_content_element .wpb_tm_slider_item > .wpb_element_wrapper .tabs_controls {
  padding: 0;
}
.wpb_content_element.tm_element_vertical_tab_holder > .wpb_element_wrapper .vc_admin_label,
.wpb_content_element.tm_element_tab_holder > .wpb_element_wrapper .vc_admin_label,
.wpb_content_element .wpb_tm_slider_item > .wpb_element_wrapper .vc_admin_label {
  display: block;
}
.wpb_content_element.tm_element_vertical_tab_holder > .wpb_element_wrapper .wpb_tabs_holder,
.wpb_content_element.tm_element_tab_holder > .wpb_element_wrapper .wpb_tabs_holder,
.wpb_content_element .wpb_tm_slider_item > .wpb_element_wrapper .wpb_tabs_holder,
.wpb_content_element.tm_element_vertical_tab_holder > .wpb_element_wrapper .ui-accordion,
.wpb_content_element.tm_element_tab_holder > .wpb_element_wrapper .ui-accordion,
.wpb_content_element .wpb_tm_slider_item > .wpb_element_wrapper .ui-accordion {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 0.4em;
  overflow: hidden;
}
.wpb_content_element.tm_element_vertical_tab_holder > .wpb_element_wrapper .ui-tabs .ui-tabs-nav,
.wpb_content_element.tm_element_tab_holder > .wpb_element_wrapper .ui-tabs .ui-tabs-nav,
.wpb_content_element .wpb_tm_slider_item > .wpb_element_wrapper .ui-tabs .ui-tabs-nav {
  position: relative;
  top: 1px;
  z-index: 2;
}
.wpb_content_element.tm_element_vertical_tab_holder > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li,
.wpb_content_element.tm_element_tab_holder > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li,
.wpb_content_element .wpb_tm_slider_item > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li {
  top: -1px;
  background: #e6e6e6;
  border: 1px solid transparent;
  margin-right: 3px;
  padding: 0;
}
.wpb_content_element.tm_element_vertical_tab_holder > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li a,
.wpb_content_element.tm_element_tab_holder > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li a,
.wpb_content_element .wpb_tm_slider_item > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li a {
  color: #848c91;
  padding: 10px 16px;
}
.wpb_content_element.tm_element_vertical_tab_holder > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li.add_tab_block,
.wpb_content_element.tm_element_tab_holder > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li.add_tab_block,
.wpb_content_element .wpb_tm_slider_item > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li.add_tab_block {
  padding: 9px 16px;
}
.wpb_content_element.tm_element_vertical_tab_holder > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li.add_tab_block a,
.wpb_content_element.tm_element_tab_holder > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li.add_tab_block a,
.wpb_content_element .wpb_tm_slider_item > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li.add_tab_block a {
  padding: 0;
  width: 16px;
  height: 16px;
  display: inline-block;
  background: transparent url('../images/controls.png') no-repeat -16px -16px;
}
.wpb_content_element.tm_element_vertical_tab_holder > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li.ui-tabs-active,
.wpb_content_element.tm_element_tab_holder > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li.ui-tabs-active,
.wpb_content_element .wpb_tm_slider_item > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li.ui-tabs-active {
  background: #ffffff;
}
.wpb_content_element .wpb_tm_fullscreen_presentation_item,
.wpb_content_element .wpb_tm_slider_item {
  border: 1px solid #f5f5f5;
  min-height: 250px;
  background-size: 100% auto;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.wpb_content_element .wpb_tm_fullscreen_presentation_item > .bottom-controls,
.wpb_content_element .wpb_tm_slider_item > .bottom-controls {
  top: auto;
  display: none;
}
.wpb_content_element .wpb_tm_fullscreen_presentation_item > .wpb_element_wrapper .vc_empty-container,
.wpb_content_element .wpb_tm_slider_item > .wpb_element_wrapper .vc_empty-container {
  background-color: rgba(255, 255, 255, 0.9);
}
.wpb_content_element .wpb_tm_fullscreen_presentation_item > .wpb_element_wrapper > .wpb_column_container.empty_container,
.wpb_content_element .wpb_tm_slider_item > .wpb_element_wrapper > .wpb_column_container.empty_container {
  height: 80px;
  background-position: center center;
}
.wpb_content_element .wpb_tm_fullscreen_presentation_item > .wpb_element_wrapper > .wpb_column_container .wpb_vc_column_inner > .controls,
.wpb_content_element .wpb_tm_slider_item > .wpb_element_wrapper > .wpb_column_container .wpb_vc_column_inner > .controls {
  background-color: #f5f5f5;
}
.wpb_content_element .wpb_tm_fullscreen_presentation_item > .wpb_element_wrapper > .wpb_column_container .wpb_vc_column_inner > .wpb_element_wrapper,
.wpb_content_element .wpb_tm_slider_item > .wpb_element_wrapper > .wpb_column_container .wpb_vc_column_inner > .wpb_element_wrapper {
  background-color: #f5f5f5;
  padding: 14px;
}
.wpb_content_element .wpb_tm_fullscreen_presentation_item > .wpb_element_wrapper > .wpb_column_container .wpb_vc_row_inner > .controls > .column_move,
.wpb_content_element .wpb_tm_slider_item > .wpb_element_wrapper > .wpb_column_container .wpb_vc_row_inner > .controls > .column_move {
  background-color: #f5f5f5;
}
.tm_element_title {
  height: auto;
}
.tm_element_title .vc_element-icon {
  margin-right: 10px;
  float: left;
}
.tm_empty-container {
  outline: #e6e6e6 dotted 1px;
  min-height: 50px;
  cursor: pointer;
  box-sizing: border-box;
}
.vc_add-element-container .vc_element-icon {
  margin: 0 auto 15px auto;
  position: relative;
  top: auto;
  left: auto;
}
.vc_add-element-container .wpb-content-layouts a {
  padding: 30px 20px;
  text-align: center;
  color: #777;
}
.vc_add-element-container .wpb-content-layouts a:hover {
  background: #f5f5f5;
}
.vc_add-element-container .wpb-content-layouts li {
  height: 100px;
  padding: 0;
  margin: 0 -1px -1px 0;
  background: #fff;
  border: 1px solid #f5f5f5;
}
.vc_add-element-container .wpb-content-layouts li:hover {
  border-color: #f5f5f5 !important;
}
.vc_add-element-container .wpb-content-layouts li .vc_el-container {
  height: 100%;
}
body {
  /** Added 14 Mar 2018 */

  /** End Added 14 Mar 2018*/

  /**
	* New additions (June 2016)
	*/

}
body .icon-wpb-contactform7 {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_contact_form_7.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_accordion[data-is-container=true],
body .tm_vc_icon_accordion {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_accordion.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_blockquote {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_blockquote.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_box[data-is-container=true],
body .tm_vc_icon_box {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_box.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_button {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_button.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_divider {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_divider.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_full_width_hero_with_split_contents[data-is-container=true],
body .tm_vc_icon_full_width_hero_with_split_contents {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_full_width_hero_with_split_contents.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_split_hero_with_split_contents[data-is-container=true],
body .tm_vc_icon_split_hero_with_split_contents {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_split_hero_with_split_contents.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_carousel_block[data-is-container=true],
body .tm_vc_icon_carousel_block {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_carousel_block.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_contact_form[data-is-container=true],
body .tm_vc_icon_contact_form {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_contact_form.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_feature_column[data-is-container=true],
body .tm_vc_icon_feature_column {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_feature_column.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_folio_grid {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_folio_grid.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_fullscreen_presentation[data-is-container=true],
body .tm_vc_icon_fullscreen_presentation {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_fullscreen_presentation.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_hero[data-is-container=true],
body .tm_vc_icon_hero {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_hero.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_html_raw[data-is-container=true],
body .icon-wpb-raw-html {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_html_raw.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_image[data-is-container=true],
body .tm_vc_icon_image {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_image.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_map[data-is-container=true],
body .tm_vc_icon_map {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_map.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_parallax_block[data-is-container=true],
body .tm_vc_icon_parallax_block {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_parallax_block.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_pricing_table[data-is-container=true],
body .tm_vc_icon_pricing_table {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_pricing_table.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .vc_element-icon.tm_vc_icon_progress_bars[data-is-container=true],
body .tm_vc_icon_progress_bars {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_progress_bars.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_row[data-is-container=true],
body .tm_vc_icon_row {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_row.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_slider[data-is-container=true],
body .tm_vc_icon_slider {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_slider.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_tabs_vertical[data-is-container=true],
body .tm_vc_icon_tabs_vertical {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_tabs_vertical.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_tabs[data-is-container=true],
body .tm_vc_icon_tabs {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_tabs.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_team_block[data-is-container=true],
body .tm_vc_icon_team_block {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_team_block.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_text_block[data-is-container=true],
body .icon-wpb-layer-shape-text,
body .tm_vc_icon_text_block {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_text_block.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_video_player[data-is-container=true],
body .tm_vc_icon_video_player {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_video_player.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_clients[data-is-container=true],
body .tm_vc_icon_clients {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_clients.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_contact_form_7[data-is-container=true],
body .tm_vc_icon_contact_form_7 {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_contact_form_7.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_hero-1[data-is-container=true],
body .tm_vc_icon_hero-1 {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_hero-1.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_hero-2[data-is-container=true],
body .tm_vc_icon_hero-2 {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_hero-2.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_hero-3[data-is-container=true],
body .tm_vc_icon_hero-3 {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_hero-3.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_hero-4[data-is-container=true],
body .tm_vc_icon_hero-4 {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_hero-4.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_hero-5[data-is-container=true],
body .tm_vc_icon_hero-5 {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_hero-5.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_icons {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_icons.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_color_swatch[data-is-container=true],
body .tm_vc_icon_color_swatch {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_color_swatch.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_logos[data-is-container=true],
body .tm_vc_icon_logos {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_logos.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_stats[data-is-container=true],
body .tm_vc_icon_stats {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_stats.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_testimonials[data-is-container=true],
body .tm_vc_icon_testimonials {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_testimonials.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_hero-5_slider_image_content[data-is-container=true],
body .tm_vc_icon_hero-5_slider_image_content {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_hero-5_slider_image_content.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_hero-5-slider_image[data-is-container=true],
body .tm_vc_icon_hero-5-slider_image {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_hero-5-slider_image.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_timeline[data-is-container=true],
body .tm_vc_icon_timeline {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_timeline.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_menu[data-is-container=true],
body .tm_vc_icon_menu {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_menu.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_feature_column[data-is-container=true],
body .tm_vc_icon_feature_column {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_feature_column.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_feature-section[data-is-container=true],
body .tm_vc_icon_feature-section {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_feature-section.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_logo_slider[data-is-container=true],
body .tm_vc_icon_logo_slider {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_logo_slider.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_carousel_slider[data-is-container=true],
body .tm_vc_icon_carousel_slider {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_carousel_slider.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
body .tm_vc_icon_social_share[data-is-container=true],
body .tm_vc_icon_social_share {
  background-image: url(../images/tm_vc_icons/tm_vc_icon_social_share.png);
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
}
@keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.modal-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.95);
  position: absolute;
  top: 0;
  z-index: 10;
}
.modal-overlay .modal-message {
  color: #00aef0;
  font-size: 18px;
  -webkit-animation: loading 2s infinite;
  animation: loading 2s infinite;
}
.modal-overlay.hide {
  display: none;
}
